* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: black;
}

img {
    display: block;
    margin: auto;
}

table {
    border-spacing: 1em;
}

.btn-arrow {
    width: 30%;
}

.btn-arrow-right {
    float: left;
}

.btn-arrow-left {
    float: right;
}

.img-item {
    width: 60%;
}

#section-clothes-shop {
    background-color: aquamarine;
    border-radius: 1em;
    border: 0.25em solid #ebba14;
    width: 75%;
    margin: auto;
    padding: 1em;
}

#text-clothes-shop {    
    text-align: center;
    color: white;
    margin: 0;
}

#btn-randomize {
    background: #ebba14;
    border-radius: 1em;
    font-size: 1.5em;
    color: white;    
    padding: 1em;    
    margin: auto;
    display: block;   
}